<div id="wrap">
    <div id="container">

		{{!--  Header  --}}
        {{> views/template/header }}

		<div id="main-block">
			<div class="content">
				
				{{!--  content here  --}}
				{{> views/main }}

			</div> <!-- #main-block > .content END -->
		</div> <!-- #main-block END -->

		{{!--  Sidebar  --}}
        {{> views/template/sidebar }}
		
		{{!--  Footer  --}}
        {{> views/template/footer }}

    </div> <!-- #container END -->
</div> <!-- #wrap END -->