<div id="main-nav">
	<ul>
		<li><a href="{{ baseUrl }}">Home</a></li>
		<li><a href="{{ baseUrl }}about.html">About</a></li>
		<li><a href="#">link</a></li>
		<li><a href="#">link</a></li>
	</ul>
</div> <!-- #main-nav END -->